.header {
  background-color: #cecece;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  &__logo {
    color: #3d3d3d;
    text-decoration: none;
    letter-spacing: 2px;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
  }

  &__item-link {
    color: #3d3d3d;
    text-decoration: none;
    letter-spacing: 2px;

    &:hover {
      color: black;
      border-bottom: solid 2px #3d3d3d;
    }
  }
}
